*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    color: #fff;
}
body{
    
    background-image: linear-gradient(rgba(0, 0, 0, 0.75),rgba(0,0,0,0)),url("assets/i2.jpg");
    background-size: cover;
    width:100%;
    height:70%;
}
h1{
    font-size: 50px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
}
p{
    font-size: 20px;
    font-weight: 300;
    color: #ffffffc9;
    text-align: center;
    margin-bottom: 30px;
}
 .navi li {
    display:inline-block;
    left:57%;    
    margin:10px;
    /* padding:50%; */
    position: relative;
    color:antiquewhite;
}
.navi li a{
    text-transform: uppercase;
}
#slide-show{
    overflow:hidden;
}
#slide-show figure{
    position:relative;
    width:200%;
    margin:0;
    left:0;
    animation:5s slide-show infinite;
}

#slide-show figure img{
    float:left;
    width:30%;
}
@keyframes slide-show 
{
    0%{
        left:0;
    }
    20%{
        left:0%;
    }
    25%{
        left: - 100%;
    }
    45%{
        left: - 100%;
    }
     40%{
        left: - 100%; 
    }
    45%{
        left: - 100%;
    } 
    50%{
        left:-200%;

    } 
}
    /*footer  */
    .foot{
        color:#6c1ee9;
        padding: 8 0px;
    }
    .row{
        display: flex;
        flex-wrap: wrap;
    }
    
        .footer{
        background-color: #24262b;
        padding-top:15px ;
    }
    .footer-col {
        width:25%;
        padding:0 15px;
    }
    .footer-col h4{
        font-size: 18px;
        color:#ffffff;
        text-transform: capitalize;
        margin-bottom: 35px;
        font-weight: 500;
        position: relative  ;
    }
    .footer-col h4::before{
        content:'';
        position:absolute;
        left:0;
        bottom:-10px;
        background-color: #e91e63;
        height: 2px;
        box-sizing: border-box;
        width:50px;
    }
    
    .footer-col .foot li a{
        font-size: 16px;
        text-transform: capitalize;
        color: #ffffff;
        text-decoration: none;
        font-weight:300;
        color:rgb(51, 153, 114);
        display: block;
        transition:all 0.3s ease;
    }
    .footer-col .foot li a:not(last-child){
        margin-bottom:10px;
    }
    .footer-col .foot li a{
        font-size:16px;
        text-transform: capitalize;
        font-weight: 300;
        color:#bbbbbb;
        display: block;
        transition: all 0.3a ease;
    
    }
    .footer-col .foot li a:hover{
        color:#ffffff;
        padding-left: 10px;
    }
    .footer-col .social-links a{
        display:inline-block;
        height: 40px;
        width:40px;
        background-color: rgba(255,255,255,0.2);
        margin:0 10px 10px 0;
        border-radius:50%;
       text-align: center;
        line-height: 40px;
        color:#bbbbbb;
        transition: all 0.5s ease;
            
    }
    @media (max-width: 767px) {
        .footer-col {
            width: 50px;
            margin-bottom: 30px;
        }
    }
        
    
        @media (max-width: 564px) {
         .footer-col{
          width: 100px;
         }
        
         }
        
         
         .foot{
            color:#6c1ee9;
            padding: 8 0px;
        }
        .row{
            display: flex;
            flex-wrap: wrap;
        }
        
            .footer{
            background-color: #24262b;
            padding-top:15px ;
        }
        .footer-col {
            width:25%;
            padding:0 15px;
        }
        .footer-col h4{
            font-size: 18px;
            color:#ffffff;
            text-transform: capitalize;
            margin-bottom: 35px;
            font-weight: 500;
            position: relative  ;
        }
        .footer-col h4::before{
            content:'';
            position:absolute;
            left:0;
            bottom:-10px;
            background-color: #e91e63;
            height: 2px;
            box-sizing: border-box;
            width:50px;
        }
        
        .footer-col .foot li a{
            font-size: 16px;
            text-transform: capitalize;
            color: #ffffff;
            text-decoration: none;
            font-weight:300;
            color:rgb(51, 153, 114);
            display: block;
            transition:all 0.3s ease;
        }
        .footer-col .foot li a:not(last-child){
            margin-bottom:10px;
        }
        .footer-col .foot li a{
            font-size:16px;
            text-transform: capitalize;
            font-weight: 300;
            color:#bbbbbb;
            display: block;
            transition: all 0.3a ease;
        
        }
        .footer-col .foot li a:hover{
            color:#ffffff;
            padding-left: 10px;
        }
        .footer-col .social-links a{
            display:inline-block;
            height: 40px;
            width:40px;
            background-color: rgba(255,255,255,0.2);
            margin:0 10px 10px 0;
            border-radius:50%;
           text-align: center;
            line-height: 40px;
            color:#bbbbbb;
            transition: all 0.5s ease;
                
        }
        @media (max-width: 767px) {
            .footer-col {
                width: 50px;
                margin-bottom: 30px;
            }
        }
            
        
            @media (max-width: 564px) {
             .footer-col{
              width: 100px;
             }
            
             }
            
             
           